@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family:  'Tajawal';
    src:  url('/fonts/Tajawal/Tajawal-Regular.ttf');
  }
  @font-face {
    font-family:  'Blaka INK';
    src:  url('/fonts/Blaka_Ink/BlakaInk-Regular.ttf');
  }
  @font-face {
    font-family:  'Reem Kufi Ink';
    src:  url('/fonts/Reem_Kufi_Ink/ReemKufiInk-Regular.ttf');
  }
}


body {
  direction: rtl;
}